.offcanvas-personalizado-cesta {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: visible;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    opacity: 1 !important;
}

.offcanvas-end-personalizado-cesta {
    top: 0;
    right: 0;
    width: 535px !important;
    border-left: 1px solidrgba(0, 0, 0, .2);
    opacity: 1 !important;
}

.offcanvas-header-personalizado-cesta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.offcanvas-body-personalizado-cesta {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
}